<h1>Chiquibot</h1>
<p class="lead">El pecabot de la pradera</p>

<div class="row home-row">
  <%= image_tag "https://dl.dropboxusercontent.com/u/17948653/Proyectos/chiquibot/chiquito-de-la-calzada.jpg", alt: "Chiquito de la Calzada", class: "img-circle" %>
</div>

<div class="alert alert-info">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Info!</strong> Type something on the text input and press <strong>¡Al ataqueeerl!</strong> button to get a response.
</div>

<div class="bs-callout bs-callout-info chiquibot-response hide" id="callout-alerts-no-default">
  <h4>Chiquito says:</h4>
  <p id="chiquito-response"> </p>
</div>

<div class="row home-row">
  <div class="col-lg-12">
    <div class="input-group">
      <input id="query" type="text" class="form-control" placeholder="Say something to Chiquito...">
      <span class="input-group-btn">
        <button id="al-ataquerl" class="btn btn-default" type="button">¡Al ataqueeerl!</button>
      </span>
    </div>
  </div>
</div>
